<html>
<body>
<ul>
  <li><button class="open-button" onclick="openForm1()">Register</button></li>&nbsp;&nbsp;&nbsp;
  <li><button class="open-button" onclick="openForm2()">Signin</button></li>
</ul>
<center>
    <br><br><br><br>
<div class="form-popup" id="myForm1">
    <form action="/users/registration" class="form-container" method="post">
      <label for="unm"><b>Full name:</b></label>
      <input type="text" placeholder="Enter username" name="unm" required>
      <label for="unm"><b>Email id:</b></label>
      <input type="text" placeholder="Enter email id" name="email" required>
      <label for="upass"><b>Password:</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
      <button type="submit" class="btn">Submit</button>
      <button type="button" class="btn cancel" onclick="closeForm1()">Close</button>
    </form>
  </div>
  <div class="form-popup" id="myForm2">
    <form action="/users/signin" class="form-container" method="post">
      <label for="unm"><b>Username(Your registered email id):</b></label>
      <input type="text" placeholder="Enter username" name="email" required>
      <label for="upass"><b>Password:</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
      <input type="hidden" value="c" name="utype">
      <button type="submit" class="btn">Submit</button>
      <button type="button" class="btn cancel" onclick="closeForm2()">Close</button>
    </form>
  </div>
  </center>
<br><br>
<center>
    <h2><i>Welcome!</i></h2>
</center>
<script>
    function openForm1() {
      document.getElementById("myForm1").style.display = "block";
    }
    function openForm2() {
        document.getElementById("myForm2").style.display = "block";
      }
    
    function closeForm1() {
      document.getElementById("myForm1").style.display = "none";
    }
    function closeForm2() {
      document.getElementById("myForm2").style.display = "none";
    }
    </script>
    
</body>
</html>